/* PC or large tablet */
@media only screen
and (min-width: 600px)
and (min-height: 400px) {
    #center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* Phone */
@media only screen
and (orientation: portrait)
and (max-width: 600px)
and (max-height: 800px) {
    #center {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%);
    }
}

/* Phone */
@media only screen
and (orientation: landscape)
and (max-width: 600px)
and (max-height: 400px) {
    #center {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%);
    }
}

body {
    user-select: none;
    font-size: 14px;
}

#center {
    margin: 0;
    text-align: center;
    font-family: monospace;
}

.title {
    font-size: 150%;
    margin-bottom: 1em;
}

.item {
    margin-top: 1em;
    margin-bottom: 1em;
}

/* Extra spacing for grouped items. */
.group {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.item_sub_title {
    font-size: 110%;
}

.item_sub {
    margin-top: 1em;
}

#center a:hover::before {
    content: '>';
    position: absolute;
    left: -2em;
}

#email {
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 90%;
}